# Node
node_modules/
dist/
.env.local

# Next.js
.next/
out/
build/

# .NET
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
*.user
*.suo
.vs/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Misc
.idea/
.vscode/
